# PyCharm Project Folder & Compiled Files
.idea/
.pyc

# Simulink Autosave Files
.autosave

# MATLAB .asv files
.asv

# Simulink Cache Files
controller/slprj

# Misc. Built LaTeX Files
XDSM/figures/static
