# PyCharm Project Folder & Compiled Files
.idea/
*.pyc

# Simulink Autosave Files
*.autosave

# MATLAB .asv files
*.asv

# Misc. Built LaTeX Files
XDSM/figures/static

# Ignore Temporary EMWET Files
temp/EMWET

# Ignore Temporary Q3D Files
temp/Q3D
